{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Transport</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'pricing' %}" class="btn"><i class="fa-solid fa-dollar-sign"></i> Pricing</a></li>
                <li><a href="{% url 'contacts' %}" class="btn"><i class="fa-solid fa-phone"></i> Contacts</a></li>
                <li><a href="{% url 'about' %}" class="btn"><i class="fa-solid fa-circle-info"></i> About</a></li>
                <li><a href="{% url 'home' %}" class="btn"><i class="fa-solid fa-house"></i> Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h2>Request a vehicle transport in Europe.</h2>
        </section>

        <section class="gallery">
            <div class="image">
                <img src="{% static 'images/small_car.jpg' %}" alt="Vehicle Transport">
            </div>
            <div class="image">
                <img src="{% static 'images/big_car.jpg' %}" alt="Vehicle Transport">
            </div>
            <div class="image">
                <img src="{% static 'images/suv.jpg' %}" alt="Vehicle Transport">
            </div>
            <div class="image">
                <img src="{% static 'images/car_transporter.jpg' %}" alt="Vehicle Transport">
            </div>
        </section>
        
        <section class="cta">
            <a href="{% url 'request' %}" class="button">Make a Request</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Vehicle Transport Company</p>
    </footer>
</body>
</html>
